.App {
  text-align: center;
}

.question-card {
  background-color: gray;
  padding: 16px;
  width: 80%;
  height: auto;
  margin: 0 auto;
  border-radius: 16px;
  color: whitesmoke;
  box-shadow: 8px 16px 22px -16px rgba(66, 68, 90, 1);
}
ul {
  list-style: none;
}

li {
  background-color: darkgray;
  padding: 16px;
  border: 2px solid whitesmoke;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 8px;
}

.question-text {
  font-size: 24px;
  color:rgb(11, 11, 51);
}

.final-result {
  background-color: gray;
  padding: 16px;
  width: 50%;
  height: auto;
  margin: 0 auto;
  border-radius: 16px;
  color: whitesmoke;
  box-shadow: 8px 16px 22px -16px rgba(66, 68, 90, 1);
}

button {
  width: 20%;
  padding: 16px;
  border-radius: 16px;
  background-color:darkgray;
  font-size: 16px;
  color:whitesmoke;
  border: 1px solid gray;
}